USE [master]
GO
/****** Object:  Database [BTEC-Database]    Script Date: 4/8/2024 12:07:09 AM ******/
CREATE DATABASE [BTEC-Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BTEC-Database', FILENAME = N'F:\SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\BTEC-Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BTEC-Database_log', FILENAME = N'F:\SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\BTEC-Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BTEC-Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BTEC-Database]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 4/8/2024 12:07:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[Admin_code] [int] NOT NULL,
	[Admin_name] [nvarchar](255) NOT NULL,
	[Student_code] [nvarchar](255) NULL,
	[Parent_code] [nvarchar](255) NULL,
	[Usename] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nchar](20) NOT NULL,
	[Birthday] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Administ__A752214943E1986A] PRIMARY KEY CLUSTERED 
(
	[Admin_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Administ__536C85E445B2CD58] UNIQUE NONCLUSTERED 
(
	[Usename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admission]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admission](
	[Admission_code] [int] NOT NULL,
	[Student_code] [nvarchar](255) NULL,
	[Subject_code] [nvarchar](50) NULL,
	[Admissiondate] [date] NULL,
	[Created_at] [datetime] NULL,
	[Update_at] [datetime] NULL,
	[Deleted_at] [datetime] NULL,
 CONSTRAINT [PK__Admissio__C081A4E7FB0A52A1] PRIMARY KEY CLUSTERED 
(
	[Admission_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[Enrollment_code] [int] NOT NULL,
	[Student_code] [nvarchar](255) NOT NULL,
	[Major_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Enrollme__7818525CBB4E5081] PRIMARY KEY CLUSTERED 
(
	[Enrollment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Major]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Major](
	[Major_code] [nvarchar](50) NOT NULL,
	[Major_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Major__3BC6406C1EEFDF0A] PRIMARY KEY CLUSTERED 
(
	[Major_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[Parent_code] [nvarchar](255) NOT NULL,
	[Student_code] [nvarchar](255) NOT NULL,
	[Parent_name] [nvarchar](255) NOT NULL,
	[Phone_number] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK__Parent__4D81CDF20DB6DF03] PRIMARY KEY CLUSTERED 
(
	[Parent_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_code] [nvarchar](255) NOT NULL,
	[Student_name] [nvarchar](255) NOT NULL,
	[Date_birth] [date] NULL,
	[Phone_number] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Sex] [nvarchar](50) NULL,
 CONSTRAINT [PK__Student__DBBE77C8BE85CFC6] PRIMARY KEY CLUSTERED 
(
	[Student_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_code] [nvarchar](50) NOT NULL,
	[Subject_name] [varchar](100) NULL,
	[Major_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Courses__F113455CA59ACC5B] PRIMARY KEY CLUSTERED 
(
	[Subject_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD  CONSTRAINT [FK__Admission__Cours__6EF57B66] FOREIGN KEY([Subject_code])
REFERENCES [dbo].[Subject] ([Subject_code])
GO
ALTER TABLE [dbo].[Admission] CHECK CONSTRAINT [FK__Admission__Cours__6EF57B66]
GO
ALTER TABLE [dbo].[Admission]  WITH CHECK ADD  CONSTRAINT [FK__Admission__Stude__6E01572D] FOREIGN KEY([Student_code])
REFERENCES [dbo].[Student] ([Student_code])
GO
ALTER TABLE [dbo].[Admission] CHECK CONSTRAINT [FK__Admission__Stude__6E01572D]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Major__6754599E] FOREIGN KEY([Major_code])
REFERENCES [dbo].[Major] ([Major_code])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Major__6754599E]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Stude__66603565] FOREIGN KEY([Student_code])
REFERENCES [dbo].[Student] ([Student_code])
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Stude__66603565]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK__Parent__Student___5EBF139D] FOREIGN KEY([Student_code])
REFERENCES [dbo].[Student] ([Student_code])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK__Parent__Student___5EBF139D]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK__Courses__Major_c__6383C8BA] FOREIGN KEY([Major_code])
REFERENCES [dbo].[Major] ([Major_code])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK__Courses__Major_c__6383C8BA]
GO
/****** Object:  StoredProcedure [dbo].[SON1]    Script Date: 4/8/2024 12:07:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SON1]
AS
SELECT e.Enrollment_code, e.Student_code,e.Major_code, s.Student_name,m.Major_name

FROM Enrollment e
INNER JOIN Student s ON e.Student_code = s.Student_code
INNER JOIN Major m ON e.Major_code = m.Major_code


       
GO
USE [master]
GO
